/dts-v1/;
/plugin/;

/*
 * Build-time-only overlay used to materialize the final KR260 revB Ubuntu DTB.
 * It is applied offline with fdtoverlay; runtime overlay loading is not used.
 */

&gem2 {
	status = "okay";
	phy-mode = "gmii";
	phy-handle = <&phy2>;

	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		enet2_gmii_to_rgmii: ethernet-phy@8 {
			compatible = "xlnx,gmii-to-rgmii-1.0";
			reg = <8>;
			phy-handle = <&phy2>;
		};

		phy2: ethernet-phy@2 {
			compatible = "ethernet-phy-id2000.a231";
			reg = <2>;
			ti,dp83867-rxctrl-strap-quirk;
			ti,fifo-depth = <1>;
			ti,tx-internal-delay = <4>;
			ti,rx-internal-delay = <4>;
		};
	};
};

/* Keep Linux eth numbering stable when GEM2 becomes probeable. */
&{/aliases} {
	ethernet0 = "/axi/ethernet@ff0b0000";
	ethernet1 = "/axi/ethernet@ff0c0000";
	ethernet2 = "/axi/ethernet@ff0d0000";
};
